@page
@model Projet_ASI.Pages.GestionPatients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fiche Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Naissance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Naissance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.CodePostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.CodePostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.NumSecu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.NumSecu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Civilite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Civilite)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Patient.Id">Edit</a> |
    <a asp-page="./Index">Retour à la liste</a>
</div>
